@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,300;1,400&display=swap");
.blog-detail-wrapper {
  line-height: 1.78;
  position: relative;
  .article-content {
    font-family: "Nunito", sans-serif;
    max-width: 780px;
    min-height: 100vh;
    margin: 0 auto;
    color: white;
    header {
      text-align: center;
      h1 {
        font-size: 35px;
      }

      span {
        margin-top: 8px;
        color: #fafafd;
        font-size: 14px;

        .tag-course {
          margin-left: 6px;
        }
      }

      .information-author {
        margin: 8px;
        margin-bottom: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        .avatar {
          width: 40px;
          height: 40px;
          border-radius: 50%;
          border: 1px solid #fafafd;
          overflow: hidden;
          img {
            width: 40px;
            height: 40px;
          }
          margin-right: 8px;
        }

        h3 {
          font-size: 16px;
          color: #fafafd;
        }
      }

      .key-hightlight {
        text-align: start;
        background-color: #1a1a2c;
        border: 1.5px solid #2f2f45;
        border-radius: 1rem;
        margin-bottom: 4rem;
        padding: 2rem;
        position: relative;
        overflow: hidden;

        ul {
          list-style-type: disc;
          padding: 20px;
          font-weight: 300;
          position: relative;
          z-index: 2;

          li {
          }
        }

        .bg-key {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;

          img {
            position: absolute;
            max-width: 150px;
            top: auto;
            bottom: 0%;
            left: auto;
            right: 0%;
          }
        }
      }
    }
  }
  .header-background {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -100;
    background: url(https://global-uploads.webflow.com/6336e79cd8d43cd4d1230849/637fd5c110a8ac83b18b8738_stars.svg);
  }
  .qc-course-blog {
    position: fixed;
    top: 150px;
    right: 15px;

    @media only screen and (max-width: 1600px) {
      position: unset;
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      text-align: start;
    }

    .card {
      cursor: pointer;
      margin: 20px;
      width: 100%;
      height: 500px;
      max-width: 22rem;
      background-color: #232334;
      border: 1.5px solid #2f2f45;
      padding: 0.75rem;
      .card-content {
        margin: 8px;
        h3 {
          font-size: 20px;
        }
        p {
          font-size: 15px;
        }

        .tags {
          padding: 6px 0;
          display: flex;
          flex-wrap: wrap;
          justify-content: flex-start;
        }

        @media only screen and (max-width: 684px) {
          h3 {
            font-size: 18px;
          }
        }
      }
      .card-action {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 18px;
        a {
          max-width: 200px;
          i {
            margin-right: 10px;
          }
        }

        div {
          font-size: 13px;
        }

        span {
          font-size: 15px;
        }
      }

      .card-img-block {
        width: 100%;
        height: 250px;
        overflow: hidden;
        overflow: hidden;
        position: relative;
        img {
          width: 100%;
          height: 250px;
        }

        .date {
          position: absolute;
          top: 5px;
          left: 5px;
          min-height: 4rem;
          min-width: 4rem;
          -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
          color: #fafafd;
          background-color: rgba(35, 35, 52, 0.2);
          border: 1.5px solid #2f2f45;
          border-radius: 0.5rem;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          display: flex;
          position: absolute;

          .month {
            color: #6966ff;
            font-size: 1rem;
            font-weight: 700;
          }
        }
      }

      @media only screen and (max-width: 1600px) {
        max-width: unset;
        width: 100%;
        height: auto;
        .card-img-block {
          display: none;
        }
      }
    }
  }
  main {
    .content-blog {
      padding-left: 20px;
    }

    
    ul {
      list-style-type: disc;
      padding: 20px;
      margin-left: 15px;
      font-weight: 300;
      position: relative;
      z-index: 2;
    }

    img {
      width: 100%;
    }
  }

  .footer-blog {
    border-top: 1px solid rgba(110, 75, 75, 0.293);
    margin: 30px 0;
    padding: 30px;
  }

  
  @media only screen and (max-width: 780px) {
    padding: 12px;
  }

  @media only screen and (max-width: 400px) {
    li, p {
      font-size: 14px;
    }
  }
}

.title-blog {
  font-size: 25px;
  margin: 18px 0;
}

/**
 * Dracula Theme originally by Zeno Rocha [@zenorocha]
 * https://draculatheme.com/
 *
 * Ported for PrismJS by Albert Vallverdu [@byverdu]
 */

 code[class*="language-"],
 pre[class*="language-"] {
   color: #f8f8f2;
   background: none;
   text-shadow: 0 1px rgba(0, 0, 0, 0.3);
   font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
   text-align: left;
   white-space: pre;
   word-spacing: normal;
   word-break: normal;
   word-wrap: normal;
   line-height: 1.5;
   -moz-tab-size: 4;
   -o-tab-size: 4;
   tab-size: 4;
   -webkit-hyphens: none;
   -moz-hyphens: none;
   -ms-hyphens: none;
   hyphens: none;
 }
 
 /* Code blocks */
 pre[class*="language-"] {
   padding: 1em;
   margin: .5em 0;
   overflow: auto;
   border-radius: 0.3em;
 }
 
 :not(pre) > code[class*="language-"],
 pre[class*="language-"] {
   background: #282a36;
 }
 
 /* Inline code */
 :not(pre) > code[class*="language-"] {
   padding: .1em;
   border-radius: .3em;
   white-space: normal;
 }
 
 .token.comment,
 .token.prolog,
 .token.doctype,
 .token.cdata {
   color: #6272a4;
 }
 
 .token.punctuation {
   color: #f8f8f2;
 }
 
 .namespace {
   opacity: .7;
 }
 
 .token.property,
 .token.tag,
 .token.constant,
 .token.symbol,
 .token.deleted {
   color: #ff79c6;
 }
 
 .token.boolean,
 .token.number {
   color: #bd93f9;
 }
 
 .token.selector,
 .token.attr-name,
 .token.string,
 .token.char,
 .token.builtin,
 .token.inserted {
   color: #50fa7b;
 }
 
 .token.operator,
 .token.entity,
 .token.url,
 .language-css .token.string,
 .style .token.string,
 .token.variable {
   color: #f8f8f2;
 }
 
 .token.atrule,
 .token.attr-value,
 .token.function,
 .token.class-name {
   color: #f1fa8c;
 }
 
 .token.keyword {
   color: #8be9fd;
 }
 
 .token.regex,
 .token.important {
   color: #ffb86c;
 }
 
 .token.important,
 .token.bold {
   font-weight: bold;
 }
 
 .token.italic {
   font-style: italic;
 }
 
 .token.entity {
   cursor: help;
 }