.navbar {
  margin: 0 auto;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  max-width: 1400px;
  padding: 20px;
  background-color: rgba(24, 24, 37, 0.65);
  filter: blur(0.5);

  .brand {
    font-size: 40px;

    &:hover {
      text-decoration: none;
    }
  }

  .navlist {
    display: flex;
    align-items: flex-start;

    .navlink {
      i {
        font-size: 18px;
        margin-right: 4px;
      }

      span {
        font-size: 18px;
      }
    }
    transform: translateX(0);

    @media only screen and (max-width: 992px) {
      flex-direction: column;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      background-color: black;
      padding: 50px 0;
      width: 45%;
      height: 100vh;
      transform: translateX(0);
      transition: transform 0.4s;
      .navlink {
        margin: 15px;
        width: 80%;
        max-width: unset;
        text-align: center;
      }
    }
  }

  @media only screen and (max-width: 992px) {
    .inactive {
      transform: translateX(-500px);
    }
  }

  .navbar-icon {
    display: none;
    @media only screen and (max-width: 992px) {
      display: block;
    }

    label {
      display: flex;
      flex-direction: column;
      width: 45px;
      cursor: pointer;
    }

    label span {
      background: #fff;
      border-radius: 10px;
      height: 5px;
      margin: 5px 0;
      transition: 0.4s cubic-bezier(0.68, -0.6, 0.32, 1.6);
    }

    span:nth-of-type(1) {
      width: 50%;
    }

    span:nth-of-type(2) {
      width: 100%;
    }

    span:nth-of-type(3) {
      width: 75%;
    }

    input[type="checkbox"] {
      display: none;
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(1) {
      transform-origin: bottom;
      transform: rotatez(45deg)  translate(7px, 1px);;
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(2) {
      transform-origin: top;
      transform: rotatez(-45deg);
    }

    input[type="checkbox"]:checked ~ span:nth-of-type(3) {
      transform-origin: bottom;
      width: 50%;
      transform: translate(19px, -10px) rotatez(45deg);
    }
  }
}
