.footer {
  border-top: 1.5px solid #2f2f45;

  height: 100px;
  text-align: center;
  color: white;
  padding: 10px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 40px;
      margin: 8px;
    }
  }
}